data
.ipynb_checkpoints
__pycache__
DIAS Attributes - Values Types version 1.xlsx
attributes_missing_values.csv
attributes_type.csv
attributes_type_merged_action.csv
azdias_with_all_nans.csv
column_cleaned_azdias.csv
column_cleaned_azdias_engineered.csv
column_cleaned_azdias_without_notexplained.csv
~$DIAS Attributes - Values 2017.xlsx
~$DIAS Attributes - Values Types version 1.xlsx
